# gitignore yogavihar

# Allgemein
cache.properties
.settings
.buildpath
.project
_notes
*.bak
.htaccess
wp-config.php
wp-content/wp-cache-config.php

#Verzeichnisse
cache/*
wp-content/uploads/*




# Mac Spezielle Dateien
*/.DS_Store
.DS_Store
.DS_Store?

classes/webapp/codekit-config.json
config.codekit
.codekit-cache/*

# PhpStorm Projekt Dateien und Verzeichnisse
.idea/*