@charset "utf-8";
/* CSS Document */

/*----*****---- << Main Skin Colors >> ----*****----*/

body, .boxed .inner-wrapper { background:#faffd1; color:#959684; }

/* Menu Color */
#main-menu { background-color:#ffffff; }
#main-menu ul.menu > li > a { color:#878072; }

.dt-menu-toggle { background-color:#c5cb8d; }

@media only screen and (max-width: 767px) {
	#main-menu > .container > ul.menu { background-color:#b6bc7e !important; }
}

/* Footer Color */
.footer-widgets-wrapper { background-color:#f6fad8; }
#footer .copyright { background-color:#ffffff; }

/* Text Color */
.border-title h6, label, input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], textarea, input.text, input[type="search"], select, .widget.tweetbox ul li .tweet-time, .widget.tweetbox ul li a:hover, .widget .recent-posts-widget ul li .entry-details .entry-metadata p a span, .widget .recent-posts-widget ul li .entry-details .entry-metadata span, .widget.widget_rss .rss-date, .widget.widget_rss cite, .entry-details .entry-metadata p, .entry-details .entry-metadata p a, .entry-details .entry-metadata p i, .author-info h3 span, ul.commentlist li .author-name span, .pagination ul li.active-page, .pagination ul li a:hover, .dt-sc-callout-box h5, .carousel-arrows a, .dt-sc-testimonial blockquote q, .dt-sc-gift-card h4, ul.dt-sc-fancy-list li:before, ul.dt-sc-fancy-list li a, ol.dt-sc-fancy-list li span, .dt-gallery-details h6, ul.products li .product-details .price, ul.products li .product-details .price ins, ul.products li .product-details .price .amount { color:#959684; }

/* Body Color Related */
.dt-sc-popular-procedures-wrapper { background-color:#faffd1; }

/* Textured bg */
#main-menu ul li.menu-item-simple-parent ul:before, .megamenu-child-container:before, .dt-sc-popular-procedures-wrapper:before, .dt-gallery-details, .dt-gallery-single:before, .dt-sc-ico-content.type1:before, .dt-sc-ico-content.type1:after, .dt-sc-callout-box.type6:after, .dt-sc-team:after, .dt-sc-tabs-vertical-frame-content:after, .dt-sc-gift-card:before, blockquote.type2:after, ul.products li .product-wrapper, ul.time-table > li:after { background-image:url(images/textured-border.png); }

.dt-sc-ico-content.type1:before { background-image:url(images/textured-border-top.png); }

/* Callout box related */
.post-edit-link, td, tbody th, .wp-caption, .dt-sc-callout-box.type1, .dt-sc-callout-box.type2, .dt-sc-callout-box.type4, .dt-sc-callout-box.type5, .dt-sc-callout-box.type6, ul.dt-sc-tabs-vertical-frame > li > a.current, .dt-sc-tabs-vertical-frame-content, .dt-sc-pullquote1, .dt-sc-pullquote2, .dt-sc-pullquote3, .dt-sc-pullquote6, .dt-sc-boxed-tooltip, .dt-sc-toggle-frame h5.dt-sc-toggle-accordion, .dt-sc-toggle-frame h5.dt-sc-toggle, .dt-sc-toggle-frame .dt-sc-toggle-content, .dt-sc-titled-box-content, .dt-sc-progress { background-color:#e9eec4; }

.woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page #reviews #comments ol.commentlist li .comment-text, .woocommerce #payment, .woocommerce-page #payment, .addresses .col-1, .addresses .col-2 { background-color:#e9eec4; }

/* Find */
.woocommerce #payment div.payment_box, .woocommerce-page #payment div.payment_box { background-color:#faffd1; }
.woocommerce #payment div.payment_box:after, .woocommerce-page #payment div.payment_box:after { border-bottom-color:#faffd1; }

/* Blog related */
.top-bar { border-color:#d2d89a; }
.pagination ul li.active-page, .pagination ul li a:hover, .entry-meta .date, .dt-sc-ico-content.type2 .icon, #header .dt-sc-social-icons li, #header #searchform input[type="submit"], #primary #searchform input[type="submit"], ul.products li .product-details .add_to_cart_button, ul.products li .product-details .button, ul.products li .product-details .yith-wcwl-add-to-wishlist a { background-color:#d2d89a; }

/* Team, Gallery & Table (footer widgets related) */
.title-section .title-wrapper { background-color:#f6fad8; }

#header #searchform input[type="submit"], #primary #searchform input[type="submit"], ul.products li .product-details .add_to_cart_button, ul.products li .product-details .button, ul.products li .product-details .yith-wcwl-add-to-wishlist a { border-color:#bac082; }

.dt-sc-ico-content.type1, tbody tr:nth-child(2n+1) td, tbody tr:nth-child(2n+1) th, .dt-sc-team, .dt-gallery-details-inner, ul.products li .product-container { background-color:#ffffff; }
.entry-meta .date { color:#ffffff; }

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], textarea, input.text, input[type="search"], select { border-color:#d7d7d7; }
.selection-box:after { border-left-color:#d7d7d7; border-right-color:#d7d7d7; }

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle, pre, code { background:#ffffff; border-color:#d7d7d7; }
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range { background:#ffffff; }

/* Popular Procedures Closed border */
.dt-sc-popular-procedures-wrapper .border { background-image:url(images/closed-border.png); }
.dt-sc-popular-procedures-wrapper .border:before, .dt-sc-popular-procedures-wrapper .border:after { background-image:url(images/closed-border-sprite.png); }

.fullwidth-section.skin-white { background-color:#ffffff !important; }
.fullwidth-section.skin-color { background-color:#e9eec4 !important; }

/*----*****---- << Color >> ----*****----*/

a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .dt-sc-testimonial cite, .carousel-arrows a:hover, #footer .widget h3.widgettitle, #footer .widget.widget_text ul li a:hover, #footer .dt-sc-social-icons li a:hover, .entry-meta .comments a:hover, .entry-details .entry-metadata p a:hover, .dt-sc-ico-content.type2 h2 a, .dt-sc-callout-box.type6 h4, .dt-sc-callout-box.type7 h4, .dt-gallery:hover .dt-gallery-details h5 a, .widget .recent-posts-widget ul li .entry-details >  a:hover, .widget ul li a:hover, /*.widget ul li:hover:before, */.widget.tweetbox ul li a, .widget .recent-posts-widget ul li h4 a:hover, ul.commentlist li .author-name .reply a, ul.dt-sc-tabs-frame > li > a > span, ul.dt-sc-tabs-frame > li > a:hover, .dt-sc-gift-card:hover .price, .dt-sc-gift-card.selected .price, .dt-sc-gift-card-section h6 span, .dt-sc-ico-content.type3 h2 a, ul.dt-sc-fancy-list li a:hover, ul.dt-sc-fancy-list.procedures li.selected a, .dt-sc-callout-box h4, ul.dt-sc-tabs-vertical-frame > li > a > span, .widget .recent-posts-widget ul li .entry-details .entry-metadata p a:hover span, .widget.widget_rss h3.widgettitle a, ul.cart-details li a:hover, .menu-item-widget-area-container .widget h3.widgettitle, .menu-item-widget-area-container .widget h3.widgettitle a, #main-menu ul.menu li .menu-item-widget-area-container ul.menu li a:hover, .dt-sc-reservation .title h6 span, .dt-sc-reservation h6.staff-name { color:#b0b959; }


#main-menu ul li a:hover, #main-menu ul > li.current_page_item > a, #main-menu ul > li.current_page_ancestor > a, #main-menu ul > li.current-menu-item > a, #main-menu ul > li.current-menu-ancestor > a, #main-menu ul li.menu-item-simple-parent ul > li.current_page_item > a, #main-menu ul li.menu-item-simple-parent ul > li.current_page_ancestor > a, #main-menu ul li.menu-item-simple-parent ul > li.current-menu-item > a, #main-menu ul li.menu-item-simple-parent ul > li.current-menu-ancestor > a { color:#b0b959; }

#main-menu ul li.menu-item-simple-parent ul li a:hover, #main-menu ul li.menu-item-megamenu-parent:hover > a, #main-menu ul > li.menu-item-simple-parent:hover > a, #main-menu ul li.menu-item-simple-parent ul li:hover > a { color:#b0b959; }

/*----*****---- << Slider >> ----*****----*/

.ls-container h2.skin, .ls-container h3.skin { color:#b0b959; }

/*----*****---- << Background Color >> ----*****----*/

th, .dt-sc-button, .dt-sc-sorting-container a.active-sort, .dt-sc-sorting-container a:hover, .pagination .prev-post a, .pagination .next-post a, .post-nav-container .post-prev-link a, .post-nav-container .post-next-link a, .widget.widget_tag_cloud .tagcloud a:hover, .widget.widget_product_tag_cloud .tagcloud a:hover, input[type="submit"], button, input[type="button"], .dt-sc-ico-content.type2 .icon:after, .sticky .entry-meta .date, .widget.flickrbox .flickr-widget div a, .post-edit-link:hover, #header .dt-sc-social-icons li:hover, #header #searchform input[type="submit"]:hover, #primary #searchform input[type="submit"]:hover, ul.time-table > li:before, ul.time-table > li.selected { background-color:#b0b959; }

.dt-sc-button:hover, .pagination .prev-post a:hover, .pagination .next-post a:hover, .post-nav-container .post-prev-link a:hover, .post-nav-container .post-next-link a:hover, input[type="submit"]:hover, button:hover, input[type="button"]:hover { background-color:#98a04f; }

.dt-gallery .image-overlay, .dt-sc-gift-card:hover .image .overlay, .dt-sc-gift-card.selected .image .overlay { background-color:rgba(176, 185, 89, 0.9); }


/*----*****---- << Border Color >> ----*****----*/

.dt-sc-button, .dt-sc-sorting-container a.active-sort, .dt-sc-sorting-container a:hover, .pagination a.prev-post, .pagination a.next-post, .dt-gallery-single-slider-wrapper #bx-pager a.active:before, .post-nav-container .post-prev-link a, .post-nav-container .post-next-link a, .widget.widget_tag_cloud .tagcloud a:hover, .widget.widget_product_tag_cloud .tagcloud a:hover, input[type="submit"], button, input[type="button"], .dt-sc-callout-box.type1, .dt-sc-callout-box.type3, .pagination .prev-post a, .pagination .next-post a, #header #searchform input[type="submit"]:hover, #primary #searchform input[type="submit"]:hover { border-color:#98a04f; }

/*----*****---- << Woo Styles >> ----*****----*/

ul.products li .product-thumb .onsale, .single-product .product > .onsale, ul.products li:hover .product-details .add_to_cart_button, ul.products li:hover .product-details .button, ul.products li:hover .product-details .yith-wcwl-add-to-wishlist a, .product .summary .add_to_wishlist, #reviews a.button, .woocommerce-message .button, .woocommerce-error .button, .woocommerce-info .button, .woocommerce table .button, .product.woocommerce .button, .return-to-shop a, .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content { background-color:#b0b959; }

ul.products li:hover .product-title h3, ul.products li:hover .product-details .price, ul.products li:hover .product-details .price ins, ul.products li:hover .product-details .price .amount, .product .summary .price .amount { color:#b0b959; }

ul.products li:hover .product-details .add_to_cart_button, ul.products li:hover .product-details .button, ul.products li:hover .product-details .yith-wcwl-add-to-wishlist a, .product .summary .add_to_wishlist, #reviews a.button, .woocommerce-message .button, .woocommerce-error .button, .woocommerce-info .button, .woocommerce table .button, .product.woocommerce .button, .return-to-shop a { border-color:#98a04f; }
ul.products li .product-details .add_to_cart_button:hover, ul.products li .product-details .button:hover, ul.products li .product-details .yith-wcwl-add-to-wishlist a:hover, .product .summary .add_to_wishlist:hover, #reviews a.button:hover, .woocommerce-message .button:hover, .woocommerce-error .button:hover, .woocommerce-info .button:hover, .woocommerce table .button:hover, .product.woocommerce .button:hover, .return-to-shop a:hover, .cart_totals .shipping th, .shop_table .shipping th { background-color:#98a04f; }


/*----*****---- << Retina Images >> ----*****----*/
@media only screen and (-moz-min-device-pixel-ratio: 1.5), 
only screen and (-o-min-device-pixel-ratio: 3/2), 
only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min-devicepixel-ratio: 1.5), 
only screen and (min-resolution: 1.5dppx) {
	
/* Textured bg */
#main-menu ul li.menu-item-simple-parent ul:before, .megamenu-child-container:before, .dt-sc-popular-procedures-wrapper:before, .dt-gallery-details, .dt-gallery-single:before, .dt-sc-ico-content.type1:before, .dt-sc-ico-content.type1:after, .dt-sc-callout-box.type6:after, .dt-sc-team:after, .dt-sc-tabs-vertical-frame-content:after, .dt-sc-gift-card:before, blockquote.type2:after, ul.products li .product-wrapper, ul.time-table > li:after { background-image:url(images/textured-border@2x.png); background-size:642px 6px; }

.dt-sc-ico-content.type1:before { background-image:url(images/textured-border-top@2x.png); background-size:642px 6px; }

/* Popular Procedures Closed border */
.dt-sc-popular-procedures-wrapper .border { background-image:url(images/closed-border@2x.png); background-size:47px 53px; }
.dt-sc-popular-procedures-wrapper .border:before, .dt-sc-popular-procedures-wrapper .border:after { background-image:url(images/closed-border-sprite@2x.png); background-size:59px 53px; }

}