@charset "utf-8";
/* CSS Document */

/*----*****---- << Responsive >> ----*****----*/

	@media (min-width: 768px) {
		
		.dt-sc-one-half.with-sidebar .blog-entry-inner { padding-left:100px; }
		.dt-sc-one-half.with-sidebar .entry-meta { width:80px; }
		.dt-sc-one-half.with-sidebar .entry-meta .date { font-size:12px; line-height:14px; width:80px; height:80px; letter-spacing:1px; }
		.dt-sc-one-half.with-sidebar .entry-meta .date:before { width:70px; height:70px; background-size:70px 70px; top:5px; }
		.dt-sc-one-half.with-sidebar .entry-meta .comments { font-size:16px; margin-top:10px; }
		
		.tpl-blog-holder.apply-isotope .dt-sc-one-half.with-sidebar { width:48.5%; }
		
		.dt-gallery.dt-sc-one-third.with-sidebar .image-overlay h5 { font-size:16px; }
		
		.dt-gallery.dt-sc-one-fourth .image-overlay h5 { font-size:16px; }
		.dt-gallery.dt-sc-one-fourth.with-sidebar .image-overlay h5 { font-size:12px; }
		
		.dt-gallery.dt-sc-one-fourth.with-sidebar .image-overlay .links > a, .dt-gallery.dt-sc-one-fourth.with-sidebar .image-overlay .links .views { width:40px; height:40px; line-height:40px; }
		.dt-gallery.dt-sc-one-fourth.with-sidebar .image-overlay-details { height:70px; }
		
		/*----*****---- << Woocomeerce >> ----*****----*/
		ul.products li .product-wrapper.product-four-column .product-title h3 { font-size:18px; }
		ul.products li .product-wrapper.product-four-column .product-title { padding:10px 20px; }
		ul.products li .product-wrapper.product-four-column .product-details .price, ul.products li .product-wrapper.product-four-column .product-details .price ins, ul.products li .product-wrapper.product-four-column .product-details .price .amount { font-size:18px; }
		ul.products li .product-wrapper.product-four-column .product-details .price del .amount,  ul.products li .product-wrapper.product-four-column .product-details .price del { font-size:12px; }
		ul.products li .product-wrapper.product-four-column .product-details .price { width:35%; }
		
		.page-with-sidebar ul.products li .product-wrapper.product-four-column .product-details .price { width:88%; }
		.page-with-sidebar ul.products li .product-wrapper.product-four-column .product-buttons { float:left; margin:0px 0px 0px 20px; padding-bottom:10px; }
                #teaser-area{
                    padding-top:95px;
                    padding-bottom:50px;
                    margin-top:-35px;
                }
	}

	/*----*****---- << Desktop >> ----*****----*/	
	
    /* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */

    @media only screen and (min-width:960px) and (max-width:1240px) {
		
		.container { width:1000px; }
		.boxed .wrapper, .boxed .is-sticky #main-menu { width:1000px; }
		
		/*----*****---- << Header >> ----*****----*/	
		#header.header3 #main-menu ul.menu > li > a { padding:0px 9px; font-size:15px; }
		#header.header4 #main-menu ul.menu > li > a, #header.header2 #main-menu ul.menu > li > a { padding:0px 38px 0px 0px; }	
		#main-menu ul.menu > li > a { padding:0px 19px; }
		
		
		/*----*****---- << mega Menu >> ----*****----*/	
		.megamenu-2-columns-group .megamenu-child-container { width:440px; }
		.megamenu-3-columns-group .megamenu-child-container { width:660px; }
		.megamenu-4-columns-group .megamenu-child-container { width:880px; }
		
		.megamenu-child-container > ul.sub-menu > li { width:190px; }
		
		.megamenu-2-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth { width:410px; }
		.megamenu-3-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth { width:630px; }
		.megamenu-4-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth { width:850px; }
		
		/*----*****---- << mega Menu Widgets >> ----*****----*/	
		.megamenu-2-columns-group .menu-item-fullwidth .widget { width:100%; margin:0px 0px 20px; }
		.megamenu-4-columns-group .menu-item-fullwidth .widget { width:263px; }
		.megamenu-3-columns-group .menu-item-fullwidth .widget { width:295px; }
		
		
		/* New Mega Menu Widget area styles */
	   .megamenu-child-container > ul.sub-menu > li.fill-two-columns { width:410px; }
	   .megamenu-child-container > ul.sub-menu > li.fill-three-columns { width:630px; }
	   .megamenu-child-container > ul.sub-menu > li.fill-four-columns { width:850px; }
	   
	   .megamenu-2-columns-group .megamenu-child-container > ul.sub-menu > li.fill-three-columns, .megamenu-2-columns-group .megamenu-child-container > ul.sub-menu > li.fill-four-columns { width:410px; }
	   .megamenu-3-columns-group .megamenu-child-container > ul.sub-menu > li.fill-four-columns { width:630px; }
	   
	   .megamenu-4-columns-group .megamenu-child-container ul.sub-menu li.fill-two-columns.menu-item-fullwidth .widget { width:405px; }
	   .megamenu-4-columns-group .megamenu-child-container ul.sub-menu li.fill-three-columns.menu-item-fullwidth .widget { width:263px; }
	   .megamenu-3-columns-group .megamenu-child-container ul.sub-menu li.fill-two-columns.menu-item-fullwidth .widget { width:295px; }	
		
		/*----*****---- << Main >> ----*****----*/		
		#primary { width:740px }
		#primary.page-with-both-sidebar { width:460px; }
		
		#secondary, #secondary-right, #secondary-left { width:250px; }
		
		/*----*****---- << Shortcodes >> ----*****----*/		
		
		.dt-sc-callout-box .dt-sc-callout-content { width:72%; }
		.dt-sc-callout-box .dt-sc-callout-button { width:26%; }
		
		.secondary-sidebar .dt-sc-popular-procedures .image:before { width:130px; height:130px; background-size:130px 130px; top:6px; }
		.secondary-sidebar .dt-sc-popular-procedures .image img { max-width:140px; }
		
		/*----*****---- << Gallery >> ----*****----*/		
		.dt-gallery .image-overlay h5 { font-size:16px; }
		.dt-gallery.dt-sc-one-third.with-sidebar .image-overlay h5 { font-size:14px; }
		
		.dt-gallery.dt-sc-one-third.with-space { width:31.8%; }
		
		.dt-gallery.dt-sc-one-fourth .image-overlay h5 { font-size:14px; }
		.dt-gallery.dt-sc-one-fourth.with-space { width:23.2%; }
		
		.page-with-sidebar .dt-sc-gallery-carousel li { margin:0px 1%; }
		.dt-sc-gallery-carousel .dt-gallery.dt-sc-one-third { width:31.3%; }
		
		/*----*****---- << Woocomeerce >> ----*****----*/
		.page-with-sidebar ul.products li .product-wrapper.product-three-column .product-title h3 { font-size:18px; }
		.page-with-sidebar ul.products li .product-wrapper.product-three-column .product-title { padding:10px 20px; }
		.page-with-sidebar ul.products li .product-wrapper.product-three-column .product-details .price, .page-with-sidebar ul.products li .product-wrapper.product-three-column .product-details .price ins, .page-with-sidebar ul.products li .product-wrapper.product-three-column .product-details .price .amount { font-size:18px; }
		.page-with-sidebar ul.products li .product-wrapper.product-three-column .product-details .price del .amount, .page-with-sidebar ul.products li .product-wrapper.product-three-column .product-details .price del { font-size:12px; }
		.page-with-sidebar ul.products li .product-wrapper.product-three-column .product-details .price { width:35%; }
		
		/*----*****---- << Reservation >> ----*****----*/
		ul.time-table > li { width:13.9%; }
		.page-with-sidebar ul.time-table > li { width:17.6%; }
		
		
	}

	/*----*****---- << Tablet (Portrait) >> ----*****----*/	
	
    /* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */

    @media only screen and (min-width:768px) and (max-width:959px) {
		
		.container { width:100%; }
		.boxed .wrapper, .boxed .is-sticky #main-menu { width:100%; }
		
		/*----*****---- << Header >> ----*****----*/		
		#main-menu ul.menu > li > a { padding:0px 12px; font-size:14px; }
		
		#header.header3 #main-menu ul.menu > li > a { font-size:12px; padding:0px 5px; }
		#header.header4 #main-menu ul.menu > li > a { padding-right:37px; }	
		
		#header.header4 #main-menu ul.menu > li > a, #header.header2 #main-menu ul.menu > li > a { padding:0px 24px 0px 0px; }
		
		/*----*****---- << Mega Menu >> ----*****----*/	
		#main-menu ul li.menu-item-simple-parent > ul, .is-sticky #main-menu ul li.menu-item-simple-parent > ul { top:50px; }
		.megamenu-child-container, .is-sticky .megamenu-child-container { top:60px; }
		
		.megamenu-2-columns-group .megamenu-child-container { width:340px; }
		.megamenu-3-columns-group .megamenu-child-container { width:510px; }
		.megamenu-4-columns-group .megamenu-child-container { width:680px; }
		
		.megamenu-child-container > ul.sub-menu > li { width:150px; padding:10px; }
		
		.megamenu-2-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth { width:320px; }
		.megamenu-3-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth { width:490px; }
		.megamenu-4-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth { width:660px; }
		
		.megamenu-child-container > ul.sub-menu > li > a, .megamenu-child-container > ul.sub-menu > li > .nolink-menu, .megamenu-child-container ul.sub-menu > li > ul li a, #main-menu ul li.menu-item-simple-parent ul li a { font-size:12px; }
		.megamenu-child-container ul.sub-menu > li > ul li a:before { top:0px; }
		#main-menu ul li.menu-item-simple-parent ul { width:200px; }
		#main-menu ul li.menu-item-simple-parent ul li ul { left:200px; }
	#main-menu ul li.menu-item-simple-parent:last-child ul li ul, #main-menu ul li.menu-item-simple-parent:last-child ul li ul, #main-menu ul li.menu-item-simple-parent:nth-child(6) ul li ul, #main-menu ul li.menu-item-simple-parent:nth-child(7) ul li ul { right:200px; }
	
		/*----*****---- << mega Menu Widgets >> ----*****----*/	
		.megamenu-2-columns-group .menu-item-fullwidth .widget { width:100%; margin:0px 0px 20px; }
		.megamenu-4-columns-group .menu-item-fullwidth .widget { width:310px; }
		.megamenu-3-columns-group .menu-item-fullwidth .widget { width:225px; }
		
		/* New Mega Menu Widget area styles */
	   .megamenu-child-container > ul.sub-menu > li.fill-two-columns { width:320px; }
	   .megamenu-child-container > ul.sub-menu > li.fill-three-columns { width:490px; }
	   .megamenu-child-container > ul.sub-menu > li.fill-four-columns { width:660px; }
	   
	   .megamenu-2-columns-group .megamenu-child-container > ul.sub-menu > li.fill-three-columns, .megamenu-2-columns-group .megamenu-child-container > ul.sub-menu > li.fill-four-columns { width:320px; }
	   .megamenu-3-columns-group .megamenu-child-container > ul.sub-menu > li.fill-four-columns { width:490px; }
	   
	   .megamenu-4-columns-group .megamenu-child-container ul.sub-menu li.fill-two-columns.menu-item-fullwidth .widget { width:310px; }
	   .megamenu-4-columns-group .megamenu-child-container ul.sub-menu li.fill-three-columns.menu-item-fullwidth .widget { width:200px; }
	   .megamenu-3-columns-group .megamenu-child-container ul.sub-menu li.fill-two-columns.menu-item-fullwidth .widget { width:225px; }
	   
	   .megamenu-2-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-with-widget-area { width:320px; }		   
	   /*.megamenu-4-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-with-widget-area { width:320px; }*/
	   
	   .megamenu-2-columns-group .megamenu-child-container > ul.sub-menu > li { width:320px; }
	   
	   .menu-item-widget-area-container .dt-sc-contact-info i { width:12%; }
	    .menu-item-widget-area-container .dt-sc-contact-info { font-size:11px; }
	   .menu-item-widget-area-container .dt-sc-contact-info span, .menu-item-widget-area-container .dt-sc-contact-info p, .menu-item-widget-area-container .dt-sc-contact-info a { width:88%; }
	   
		
		/*----*****---- << Main >> ----*****----*/		
		#primary { width:510px }
		#primary.page-with-both-sidebar { width:310px; }
		
		#secondary, #secondary-right, #secondary-left { width:180px; }
		
		/*----*****---- << Shortcodes >> ----*****----*/
		
		.dt-sc-button.large { font-size:17px; }
		.dt-sc-button.large.with-icon i, .dt-sc-button.xlarge.with-icon i { padding-left:25px; padding-right:25px; }
		.dt-sc-button.xlarge { font-size:19px; }
		.dt-sc-button.xlarge.with-icon { padding-left:30px; }
		.dt-sc-button.xlarge.with-icon i { margin-left:19px; }
		
		ul.dt-sc-tabs-frame > li > a { font-size:14px; padding-left:6px; padding-right:6px; }	
		ul.dt-sc-tabs-vertical-frame > li > a { padding-left:8px; font-size:14px; }	
		
		.dt-sc-callout-box .dt-sc-callout-content { width:67%; }
		.dt-sc-callout-box .dt-sc-callout-button { width:31%; }
		
		.dt-sc-callout-box h4, .dt-sc-callout-box.type7 h4 { font-size:16px; }
		.dt-sc-callout-box h5 { font-size:14px; line-height:20px; }
		.dt-sc-callout-box img { max-width:120px; }
		.dt-sc-callout-box.with-icon h4 { margin-top:10px; }
		
		.dt-sc-tb-header .dt-sc-price { font-size:30px; }
		.dt-sc-tb-header .dt-sc-price span { font-size:40px; }
		.dt-sc-tb-content li { font-size:12px; }
		
		.dt-sc-ico-content.type1 h2 { font-size:20px; }
		
		.dt-sc-ico-content.type2 { padding:0px 0px 0px 80px; }
		.dt-sc-ico-content.type2 .icon { width:60px; height:60px; border-radius:60px;  }
		.dt-sc-ico-content.type2 .icon span { line-height:60px; font-size:24px; }
		.dt-sc-ico-content.type2 .icon:before { background-size:50px 50px; width:50px; height:50px; top:6px; }
		
		.dt-sc-popular-procedures .image { margin-top:-140px; }
		.dt-sc-popular-procedures.with-image { margin-top:90px; }
		.dt-sc-popular-procedures .image img { max-width:170px; }
		.dt-sc-popular-procedures .image:before { width:160px; height:160px; background-size:160px 160px; top:5px; }
		.dt-sc-popular-procedures h2 { font-size:20px; }
		
		.dt-sc-team h5 { font-size:18px; }
		
		.type2 .dt-sc-testimonial-carousel li { margin:0px; }
		
		.dt-sc-ico-content.type1 .image { min-height:50px; }
		
		.secondary-sidebar .dt-sc-popular-procedures .image:before { width:130px; height:130px; background-size:130px 130px; top:6px; }
		.secondary-sidebar .dt-sc-popular-procedures .image img { max-width:140px; }
		
		/*----*****---- << Contact >> ----*****----*/
		.dt-sc-contact-info span, .dt-sc-contact-info p, .dt-sc-contact-info a { width:90%; margin-right:0px; margin-bottom:10px; }
		
		/*----*****---- << Gallery >> ----*****----*/
		.dt-gallery .image-overlay h5 { font-size:14px; }
		
		.dt-gallery.dt-sc-one-half.with-space { width:48.5%; }
		.dt-gallery.dt-sc-one-third.with-sidebar .image-overlay h5, .dt-gallery.dt-sc-one-fourth .image-overlay h5 { font-size:12px; margin-bottom:10px; }
		
		.dt-gallery.dt-sc-one-third.with-sidebar .image-overlay .links > a, .dt-gallery.dt-sc-one-third.with-sidebar .image-overlay .links .views, .dt-gallery.dt-sc-one-fourth .image-overlay .links > a, .dt-gallery.dt-sc-one-fourth .image-overlay .links .views { width:40px; height:40px; line-height:40px; }
		.dt-gallery.dt-sc-one-third.with-sidebar .image-overlay-details, .dt-gallery.dt-sc-one-fourth .image-overlay-details { height:70px; }
		
		.dt-gallery.dt-sc-one-third.with-space { width:31.3%; }
		
		.dt-gallery.no-space.dt-sc-one-fourth.with-sidebar { width:33.1%; }
		
		.dt-gallery.no-space.dt-sc-one-fourth { width:24.9%; }
		.dt-gallery.dt-sc-one-fourth.with-space { width:22.8%; }
		.dt-gallery.dt-sc-one-fourth.with-space .image-overlay-details { height:40px; }
		.dt-gallery.dt-sc-one-fourth.with-space .dt-gallery-details h5 { font-size:18px; }
		
		.page-with-sidebar .dt-sc-gallery-carousel li { margin:0px 1%; }
		.dt-sc-gallery-carousel .dt-gallery.dt-sc-one-third { width:31.3%; }
		
		/*----*****---- << Blog >> ----*****----*/
		.blog-entry-inner { padding-left:100px; }
		.entry-meta { width:80px; }
		.entry-meta .date { font-size:12px; line-height:14px; width:80px; height:80px; letter-spacing:1px; }
		.entry-meta .date:before { width:70px; height:70px; background-size:70px 70px; top:5px; }
		.entry-meta .comments { font-size:16px; margin-top:10px; }
		
		.tpl-blog-holder.apply-isotope .dt-sc-one-half { width:48.5%; }
		
		.dt-sc-one-half.with-sidebar .entry-details .entry-title h4 { font-size:18px; }
		.tpl-blog-holder.apply-isotope .dt-sc-one-half.with-sidebar { width:100%; } 
		
		/*----*****---- << Woocomeerce >> ----*****----*/
		ul.products li .product-title h3 { font-size:18px; }
		ul.products li .product-title { padding:10px 20px; }
		ul.products li .product-details .price, ul.products li .product-details .price ins, ul.products li .product-details .price .amount { font-size:18px; }
		ul.products li .product-details .price del .amount, ul.products li .product-details .price del { font-size:12px; }
		ul.products li .product-details .price { width:35%; }
		
		.page-with-sidebar ul.products li .product-wrapper.product-three-column, .page-with-sidebar ul.products li .product-wrapper.product-four-column { width:48%; }		
		.page-with-sidebar ul.products li .product-wrapper.product-three-column, .page-with-sidebar ul.products li .product-wrapper.product-four-column { margin-right:1%; margin-left:1%; }
		.page-with-sidebar ul.products li.last .product-wrapper.product-three-column, .page-with-sidebar ul.products li.last .product-wrapper.product-four-column { margin-right:1%; }
		.page-with-sidebar ul.products li.first .product-wrapper.product-three-column, .page-with-sidebar ul.products li.first .product-wrapper.product-four-column { clear:none; }
		.page-with-sidebar ul.products li:nth-child(odd) .product-wrapper.product-three-column, .page-with-sidebar ul.products li:nth-child(odd) .product-wrapper.product-four-column { clear:both; }
		
		ul.products li .product-wrapper.product-four-column .product-details .price { width:88%; }
		ul.products li .product-wrapper.product-four-column .product-buttons { float:left; margin:0px 0px 0px 20px; padding-bottom:10px; }
		
		.page-with-sidebar ul.products li .product-wrapper.product-four-column .product-details .price { width:35%; }
		.page-with-sidebar ul.products li .product-wrapper.product-four-column .product-buttons { float:right; margin:-2px 20px 0 0; padding-bottom:0px; }
		
		.product .summary table.variations .selection-box { width:80%; }
		.product .summary table.variations .reset_variations { display:inline-block; margin:5px 0px; }
		
		/*----*****---- << Reservation >> ----*****----*/
		ul.time-table > li { width:17.3%; }
		.page-with-sidebar ul.time-table > li { width:23.4%; }
		
		.page-with-sidebar ul.time-table > li:nth-child(3n) { margin-right:0px; }
		.page-with-sidebar ul.time-table > li:nth-child(4n) { margin-right:2%; }		
		ul.time-table > li:nth-child(4n) { margin-right:0px; }
		ul.time-table > li:nth-child(5n) { margin-right:2%; }
		
		ul.time-table > li:nth-child(5n+1), .page-with-sidebar ul.time-table > li:nth-child(4n+1) { clear:none; }
		ul.time-table > li:nth-child(4n+1), .page-with-sidebar ul.time-table > li:nth-child(3n+1) { clear:both; }
	}
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/
	
	@media (min-width: 768px) {
		#main-menu > .container > ul.menu { display:block !important; }
	}
	
	@media only screen and (max-width: 767px) {
		
		/*----*****---- << Mobile Menu >> ----*****----*/
		.dt-menu-toggle { display:block; }
		#main-menu > .container > ul.menu { display:none; }
		
		#main-menu ul.menu > li > .megamenu-child-container { display:block; border:none; padding:0px; }
		#main-menu ul.menu > li > .megamenu-child-container > ul.sub-menu { padding:10px 0px; float:left; width:100%; }
		#main-menu ul.menu > li > .megamenu-child-container > .dt-menu-expand { display:none !important; }
		.megamenu-child-container > ul.sub-menu, .megamenu-child-container > ul.sub-menu ul.sub-menu { display:none; }
		
		#main-menu ul.menu > li, #main-menu ul.menu > li > ul.sub-menu > li, #main-menu ul.menu .megamenu-child-container > ul.sub-menu > li { width:100%; padding:0px; text-align:left; box-sizing:border-box; clear:both; }
		#main-menu ul.menu li a { line-height:normal; }
		#main-menu > .container > ul.menu { background:#776e69; }		
		#main-menu { background:none; padding:10px 0px; }
		#main-menu > .container > ul.menu > li > a, #header.header4 #main-menu ul.menu > li > a { color:#ffffff !important; display:block; box-sizing:border-box; }
		
		#header.header4 #main-menu ul.menu > li > a, #header.header2 #main-menu ul.menu > li > a { padding:7px 15px; }
		
		#header.header3 #main-menu ul.menu > li > a, #main-menu ul.menu > li > a { padding:7px 15px; }
		#main-menu ul.menu > li > a:hover { color:#ffffff; }
		#main-menu ul.menu > li:hover > a { background:rgba(255, 255, 255, 0.1); }
		
		#main-menu ul.menu > li > a i { line-height:24px; }
		
		#main-menu ul li.menu-item-simple-parent ul, #main-menu ul li.menu-item-simple-parent ul li ul { top:27px; width:100%; left:0px; }
		.dt-menu-expand { display:block !important; }
		
		#main-menu ul.menu .megamenu-child-container > ul.sub-menu > li { position:relative; }
		#main-menu ul li.menu-item-simple-parent ul:after, .megamenu-child-container:after { border:none; }
		#main-menu ul li.menu-item-simple-parent ul:before, .megamenu-child-container:before { background:none; }
		.megamenu-child-container { top:37px; }
		.megamenu-2-columns-group .megamenu-child-container, .megamenu-3-columns-group .megamenu-child-container, .megamenu-4-columns-group .megamenu-child-container, .megamenu-2-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth, .megamenu-3-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth, .megamenu-4-columns-group .megamenu-child-container > ul.sub-menu > li.menu-item-fullwidth { width:100%; left:0px !important; }
	
		#main-menu ul.menu .megamenu-child-container > ul.sub-menu > li { width:100%; display:block; clear:both; box-sizing:border-box; }	
		#main-menu ul.menu .megamenu-child-container > ul.sub-menu > li > a { padding:10px 15px; background:none; margin-bottom:0px; }
		#main-menu ul li.menu-item-simple-parent ul, #main-menu ul.menu > li > .megamenu-child-container, #main-menu ul li.menu-item-simple-parent ul, #main-menu ul li.menu-item-simple-parent ul li ul { position:inherit; top:0px; margin:0px; }
		
		#main-menu ul.menu .megamenu-child-container > ul.sub-menu > li > a.dt-menu-expand, #main-menu ul li.menu-item-simple-parent ul li a.dt-menu-expand { background:none; border:none; }
		
		
		#main-menu ul li.menu-item-simple-parent ul { border:none; }
		#main-menu ul li.menu-item-simple-parent ul li { padding:0px; clear:both; }
		#main-menu ul li.menu-item-simple-parent ul li a { padding:10px 15px; }
		#main-menu ul li.menu-item-simple-parent ul li ul li a { padding-left:30px; }
		#main-menu ul li.menu-item-simple-parent ul ul ul li a { padding-left:45px; }
		#main-menu ul li.menu-item-simple-parent ul li ul { padding:0px; }
		#main-menu ul li.menu-item-simple-parent > ul > li > a { color:#685e58; }
		
		.megamenu-child-container > ul.sub-menu > li > a, .megamenu-child-container > ul.sub-menu > li > .nolink-menu { font-size:16px; }
		.menu-item-widget-area-container .widget h3.widgettitle { font-size:15px; }
		#main-menu ul.menu .megamenu-child-container > ul.sub-menu ul.sub-menu li a { padding:10px 15px 10px 30px; }
		
		#main-menu ul.menu .megamenu-child-container .menu-item-widget-area-container > ul > li.widget { margin:0px 0px 20px; padding:0px 15px 0px 15px; width:100%; box-sizing:border-box; }
		.menu-item-widget-area-container ul { margin:10px 0px 0px; }
		#main-menu ul.menu li .menu-item-widget-area-container ul.menu li a { color:#ac9d8e; }
		#main-menu ul.menu .megamenu-child-container .menu-item-widget-area-container > ul.sub-menu ul.sub-menu li a { padding:0px; }
		#main-menu ul.menu .megamenu-child-container .menu-item-widget-area-container ul.menu ul.sub-menu { display:block; }
		#main-menu ul.menu .megamenu-child-container ul.menu ul.sub-menu li a { padding:0px; }
		
		#main-menu ul li.menu-item-simple-parent:last-child ul li ul, #main-menu ul li.menu-item-simple-parent:nth-child(6) ul li ul, #main-menu ul li.menu-item-simple-parent:nth-child(7) ul li ul { left:0px; }
		
		#main-menu { position:inherit !important; }
		/*.is-sticky .top-bar, .is-sticky #header #logo, .is-sticky .header-right-content { display:block; }
		.is-sticky #header { padding-top:20px; }
		.is-sticky #header.header2 { padding-top:0px; }*/
	
		/*----*****---- << Column >> ----*****----*/
		.column { margin-bottom:20px; margin-left:0px; }
		.column.no-space { margin-bottom:0px; }		
		
		.dt-sc-one-fourth, .dt-sc-one-half, .dt-sc-one-third, .dt-sc-three-fourth, .dt-sc-two-third, .dt-sc-one-fifth, .dt-sc-four-fifth, .dt-sc-three-fifth, .dt-sc-two-fifth, .dt-sc-one-sixth, .dt-sc-two-sixth, .dt-sc-three-sixth, .dt-sc-four-sixth, .dt-sc-five-sixth, .column.no-space.dt-sc-one-fourth, .column.no-space.dt-sc-one-third, .column.no-space.dt-sc-one-half, .column.no-space.dt-sc-one-fifth, .column.no-space.dt-sc-one-sixth, .column.no-space.dt-sc-three-fourth, .column.no-space.dt-sc-two-third, .column.no-space.dt-sc-four-fifth, .column.no-space.dt-sc-three-fifth, .column.no-space.dt-sc-two-fifth, .column.no-space.dt-sc-two-sixth, .column.no-space.dt-sc-three-sixth, .column.no-space.dt-sc-four-sixth, .column.no-space.dt-sc-five-sixth { width:100%; }
		
	.dt-sc-pricing-table.no-space .dt-sc-one-fourth, .dt-sc-pricing-table.no-space .dt-sc-one-third, .dt-sc-pricing-table.no-space .dt-sc-one-half, .dt-sc-pricing-table.no-space .dt-sc-one-fifth, .dt-sc-pricing-table.no-space .dt-sc-one-sixth, .dt-sc-pricing-table.no-space .dt-sc-three-fourth, .dt-sc-pricing-table.no-space .dt-sc-two-third, .dt-sc-pricing-table.no-space .dt-sc-four-fifth, .dt-sc-pricing-table.no-space .dt-sc-three-fifth, .dt-sc-pricing-table.no-space .dt-sc-two-fifth, .dt-sc-pricing-table.no-space .dt-sc-two-sixth, .dt-sc-pricing-table.no-space .dt-sc-three-sixth, .dt-sc-pricing-table.no-space .dt-sc-four-sixth, .dt-sc-pricing-table.no-space .dt-sc-five-sixth { width:100%; }
		
		/*----*****---- << Headings >> ----*****----*/
		h1{ font-size:24px; }
		h2{ font-size:22px; }
		h3{ font-size:20px; }
		h4{ font-size:18px; }
		h5{ font-size:16px; }
		h6{ font-size:14px; }
		
		.border-title h2, .border-title h1 { font-size:20px; }
		
		/*----*****---- << Header >> ----*****----*/	
		.boxed .inner-wrapper { border-radius:0px; border:none; }
		
		.top-bar ul { width:100%; text-align:center; padding:5px 0px; }
		.top-bar ul li { display:inline-block; } 
		
		#header.header4 #logo, #header.header2 #logo { width:100%; text-align:center; }
		#header.header2 .header-right-content { width:100%; margin:0px; }
		#header.header2 .dt-sc-social-icons { width:100%; float:none; display:inline-block; text-align:center; margin:5px 0px 0px; }
		#header.header2 .dt-sc-social-icons li:last-child { margin-right:0px; }
		#header .header-right-content { padding-top:20px; float:left; margin:0px 7px; }
		.main-menu-wrapper.header4 { margin-top:10px; }
		 
		/*----*****---- << Main >> ----*****----*/		
		#primary { width:100%; }
		#primary.page-with-both-sidebar { width:100%; }
		
		#primary.with-left-sidebar { margin-left:0px; }
		#primary.with-right-sidebar { margin-right:0px; }
		#primary.page-with-both-sidebar { margin:0px; }
		
		#secondary, #secondary-right, #secondary-left { width:100%; }
		#secondary-left { margin-bottom:20px; }
		#secondary-right { margin-top:20px; }
		
		/*----*****---- << Shortcodes >> ----*****----*/		
		.dt-sc-callout-box .dt-sc-callout-content { width:100%; margin:0px; }
		.dt-sc-callout-box .dt-sc-callout-button { width:100%; }
		
		.dt-sc-callout-box.type4 { border-radius:25px; }
		.dt-sc-callout-box img { max-width:120px; }
		.dt-sc-callout-box.with-icon h4, .dt-sc-callout-box.type6.with-icon h5 { margin-top:0px; }
		.dt-sc-callout-box.type1, .dt-sc-callout-box.type2, .dt-sc-callout-box.type4, .dt-sc-callout-box.type5 { padding-left:5%; padding-right:5%; width:90%; }
		.dt-sc-callout-box h4, .dt-sc-callout-box.type7 h4 { font-size:16px; }
		.dt-sc-callout-box h5 { font-size:14px; }
		
		.dt-sc-error-box, .dt-sc-warning-box, .dt-sc-success-box, .dt-sc-info-box { border-radius:10px; }
		
		/*----*****---- << Contact >> ----*****----*/
		.dt-sc-contact-info span, .dt-sc-contact-info p, .dt-sc-contact-info a { width:90%; margin-right:0px; margin-bottom:10px; }
		.wpcf7 .column { margin-bottom:0px; }
		
		/*----*****---- << Blog >> ----*****----*/
		.blog-entry-inner { padding-left:100px; }
		.entry-meta { width:80px; }
		.entry-meta .date { font-size:12px; line-height:14px; width:80px; height:80px; letter-spacing:1px; }
		.entry-meta .date:before { width:70px; height:70px; background-size:70px 70px; top:5px; }
		.entry-meta .comments { font-size:16px; margin-top:10px; }
		.entry-details .entry-title h4 { font-size:18px; }
		
		ul.commentlist li { padding-left:80px; }
		ul.commentlist li .comment-author:before { width:50px; height:50px; background-size:50px 50px; }
		ul.commentlist li .comment-author img { max-width:60px; max-height:60px; }
		
		#respond .column { margin-bottom:0px; }
		#respond h3#reply-title { font-size:18px; }
		
		.type2 .dt-sc-testimonial-carousel li { margin:0px; }
		.fullwidth-testimonial { height:289px !important; }
		
		/*----*****---- << Gallery >> ----*****----*/
		.dt-sc-sorting-container a { margin-bottom:10px; }
		
		.page-with-sidebar .dt-sc-gallery-carousel li { margin-bottom:20px; }
		
		.page-template-tpl-fullwidth .column .dt-gallery figure img { width:100%; }
		
		/*----*****---- << Woocommerce >> ----*****----*/		
		ul.products li .product-wrapper { margin-right:0px; }
		ul.products li .product-wrapper, ul.products li .product-wrapper.product-two-column, ul.products li .product-wrapper.product-three-column, ul.products li .product-wrapper.product-four-column, ul.products li .product-wrapper.product-five-column, ul.products li .product-wrapper.product-six-column, ul.products li .product-wrapper.product-two-column.no-space, ul.products li .product-wrapper.product-three-column.no-space, ul.products li .product-wrapper.product-four-column.no-space, ul.products li .product-wrapper.product-five-column.no-space, ul.products li .product-wrapper.product-six-column.no-space { width:100%; }
		
		.woocommerce div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page #content div.product div.images { width:100%; }
		.woocommerce div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page #content div.product div.summary { width:100%; float:left; }
		


		.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 { width:100%; }

		.woocommerce table.cart img, .woocommerce-page table.cart img, .woocommerce #content table.cart img, .woocommerce-page #content table.cart img { width:30px; }
		table.cart td.product-name a { font-size:10px; }		
		.woocommerce table.shop_table td, .woocommerce-page table.shop_table td { padding:6px 4px; }		
		.woocommerce table.shop_table th, .woocommerce-page table.shop_table th { font-size:12px; padding:10px 5px; font-weight:normal; }
		
		.woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2 { width:100%; margin:0px 0px 20px; }
		
		.woocommerce .shop_table .quantity .plus, .woocommerce .shop_table .quantity .minus, .woocommerce-page .shop_table .quantity .plus, .woocommerce-page .shop_table .quantity .minus { height:25px; padding:0 5px; }
		.woocommerce .shop_table .quantity .qty, .woocommerce-page .shop_table .quantity .qty { height:25px; width:35px !important; font-size:11px; }
		
		.woocommerce table.cart td.actions .coupon .input-text { height:33px; width:120px; background:#ffffff; }
		.woocommerce-cart table.shop_table input[type="submit"] { padding:8px 15px; font-size:12px; }
		.related-products-container h2, .upsell-products-container h2, .cross-sells h2, .cart_totals h2, .shipping_calculator h2, .woocommerce h2, .woocommerce-page h2 { font-size:18px; }
		
		.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells, .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals { width:100%; }
		.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator { width:100%; }
		
		.shop_table.wishlist_table .add_to_cart.button { padding:5px 10px; font-size:8px; }
		
		.dt-sc-reservation .column { margin-bottom:0px; }
		
		
	}
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
		
		.container { width:90%; }
		.boxed .wrapper, .boxed .is-sticky #main-menu { width:90%; }
		
		/*----*****---- << Woocommerce >> ----*****----*/		
		.shop_table.cart .checkout-button { margin-top:10px; }
		
		/*----*****---- << Reservation >> ----*****----*/
		ul.time-table > li, .page-with-sidebar ul.time-table > li { width:38.4%; }
		
		.page-with-sidebar ul.time-table > li:nth-child(2n), ul.time-table > li:nth-child(2n) { margin-right:0px; }
		.page-with-sidebar ul.time-table > li:nth-child(3n) { margin-right:2%; }		
		ul.time-table > li:nth-child(3n) { margin-right:2%; }
		ul.time-table > li:nth-child(5n) { margin-right:2%; }
		
		ul.time-table > li:nth-child(5n+1), .page-with-sidebar ul.time-table > li:nth-child(4n+1) { clear:none; }
		ul.time-table > li:nth-child(2n+1), .page-with-sidebar ul.time-table > li:nth-child(2n+1) { clear:both; }
		
	}
	
	
    @media only screen and (max-width: 479px) {
		
		/*----*****---- << Header >> ----*****----*/		
		.top-bar ul.contact-details li { border-right:0px; margin-right:0px; padding-right:0px; margin-bottom:7px; }
		.top-bar ul.contact-details li:last-chil { margin-bottom:0px; }
		
		#header .header-right-content { margin:0px; }
		
		#header #searchform { margin-right:0px; text-align:center; float:none; }
		#header .header-right-content { width:100%; text-align:center; }
		#header #searchform input[type="text"], #header #searchform input[type="submit"] { display:inline-block; float:none; }
		#header #searchform input[type="text"] { margin-right:-4px; }
		
		#header .dt-sc-social-icons { float:none; display:inline-block; text-align:center; margin:20px 0px 0px; }
		
		
		/*----*****---- << Shortcodes >> ----*****----*/		
		ul.dt-sc-tabs-frame > li > a { font-size:14px; padding-left:6px; padding-right:6px; }	
		ul.dt-sc-tabs-vertical-frame > li > a { padding-left:8px; font-size:14px; }	
		
		.dt-sc-callout-box .dt-sc-callout-content { text-align:center; }
		.dt-sc-callout-box img, .dt-sc-callout-box.type7 img { float:none; margin:0px; }
		.dt-sc-callout-box .dt-sc-callout-button, .dt-sc-callout-box .dt-sc-callout-button a { text-align:center; float:none; display:inline-block; }
		.dt-sc-callout-box.type7 .dt-sc-callout-button, .dt-sc-callout-box .dt-sc-callout-button { margin-top:25px; }
		.dt-sc-callout-box .dt-sc-callout-button a, .dt-sc-callout-box.type7 .dt-sc-button, .dt-sc-callout-box.with-icon .dt-sc-button, .dt-sc-callout-box.type6.with-icon .dt-sc-button { margin-top:0px; }
		.dt-sc-callout-box.type6:before { height:92%; }
		
		th, td { padding:10px 5px; font-size:12px; }
		
		ul.dt-sc-tabs-vertical-frame { width:100%; margin:0px; }
		.dt-sc-tabs-vertical-frame-content { padding:20px 5%; width:90%; clear:both; }
		
		.carousel-arrows { top:0px; }
		.dt-sc-testimonial-carousel-wrapper.type1 .dt-sc-testimonial-carousel li { margin-top:40px; }
		.dt-sc-testimonial { padding-left:0px; }
		.dt-sc-testimonial .author { position:inherit; width:100%; text-align:center; margin-top:20px; }
		
		.fullwidth-testimonial { height:345px !important; }
		
		.dt-sc-callout-box.with-icon { width:93%; }
		
		/*----*****---- << Gallery >> ----*****----*/		
		.dt-gallery-single-slider-wrapper #bx-pager a { margin:0px 5px 10px; }
		.dt-gallery-single-slider-wrapper #bx-pager a img { max-width:60px; }
		.related-dt-gallery .dt-sc-gallery-carousel li { margin-bottom:20px; }
		 .dt-sc-images-carousel li, .related-dt-gallery .dt-sc-gallery-carousel li { margin-top:60px; }
		
		/*----*****---- << Blog >> ----*****----*/		
		.author-info { width:100%; }
		.author-info h3 { text-align:center; margin-bottom:20px; }
		.author-info .thumb { width:100%; margin:0px 0px 10px; text-align:center; }
		.author-info .thumb img { max-width:100px; }
		
		.author-info .thumb:before { width:90px; height:90px; background-size:90px 90px; top:5px; }
		
		ul.commentlist li { padding-left:0px; }
		ul.commentlist li .comment-author { position:inherit; }
		ul.commentlist li .comment-author img { margin-right:10px; }
		ul.commentlist li .author-name, ul.commentlist li .author-name a { font-size:16px; }
		ul.commentlist li .author-name span { font-size:11px; }
		ul.commentlist li .comment-body { clear:both; display:inline-block; }
		ul.commentlist li ul.children li { padding-left:20px; }
		
		/*----*****---- << Woocommerce >> ----*****----*/		
		.product .summary .price { position:inherit; margin:20px 0px 0px; display:inline-block; }
		
		
		
		.woocommerce-cart table.shop_table, .woocommerce-account table.my_account_orders, .woocommerce-wishlist table.shop_table { display:block; position:relative; width:100%; position:relative; border-bottom:1px solid #dddddd; }
		.woocommerce-cart table.shop_table thead, .woocommerce-account table.my_account_orders thead, .woocommerce-wishlist table.shop_table thead { display:block; float:left; }
		.woocommerce-cart table.shop_table tbody, .woocommerce-account table.my_account_orders tbody, .woocommerce-wishlist table.shop_table tbody { display:block; width:auto; position:relative; overflow-x:auto; white-space:nowrap; }
		.woocommerce-cart table.shop_table thead tr.cart_table_item, .woocommerce-account table.my_account_orders thead tr.cart_table_item, .woocommerce-wishlist table.shop_table thead tr.cart_table_item { display:block; }
		.woocommerce-cart table.shop_table th, .woocommerce-account table.my_account_orders th, .woocommerce-wishlist table.shop_table th { display:block; }
		.woocommerce-cart table.shop_table tbody tr, .woocommerce-account table.my_account_orders tbody tr, .woocommerce-wishlist table.shop_table tbody tr  { display:inline-block; vertical-align:top; }
		.woocommerce-cart table.shop_table td, .woocommerce-account table.my_account_orders td, .woocommerce-wishlist table.shop_table td { display:block; min-height:1.25em; }		
		
		.woocommerce-cart table.shop_table td.actions { width:auto; }
		.woocommerce-cart table.shop_table tbody tr td.actions .coupon { position:absolute; bottom:60px; left:0px; }
		.woocommerce-cart table.shop_table tbody tr td.actions .coupon .button { bottom:10px; position:absolute; }
		.woocommerce-cart table.shop_table tbody tr td.actions .coupon .input-text { bottom:45px; position:absolute; }
		.woocommerce table.cart td.actions .coupon .input-text { height:30px; }
		.woocommerce-cart table.shop_table tbody tr td.actions .button { position:absolute; bottom:40px; left:0px; }
		.woocommerce-cart table.shop_table tbody tr td.actions .checkout-button { bottom:10px; }
		.woocommerce-cart table.shop_table tbody { padding-bottom:145px; }
		.woocommerce-cart table.shop_table input[type="submit"] { padding:5px 10px; font-size:11px; }
		
		.woocommerce table.shop_table th, .woocommerce-page table.shop_table th { text-align:center; height:50px; width:100px; line-height:50px; vertical-align:middle; border-bottom-width:1px; padding:0px; border-bottom:1px solid #dddddd; }
		.woocommerce table.shop_table td, .woocommerce-page table.shop_table td { height:51px; width:98px; padding:0px; text-align:center; vertical-align:middle; border-bottom:0px; }
		.woocommerce table.shop_table td.product-subtotal, .woocommerce-page table.shop_table td.product-subtotal { border-bottom:1px solid #dddddd; }
		
		.woocommerce-cart table.shop_table th { width:80px; }
		.woocommerce-cart table.shop_table td { width:118px; }
		
		.woocommerce table.cart a.remove, .woocommerce-page table.cart a.remove, .woocommerce #content table.cart a.remove, .woocommerce-page #content table.cart a.remove { display:inline-block; margin-top:14px; }
		.woocommerce .wishlist_table tr td.product-thumbnail, .woocommerce .wishlist_table tr td.product-name { text-align:center; }
		.shop_table .product-thumbnail a { margin:10px 0px 0px; display:inline-block; }
		.shop_table td.product-name a, .shop_table td.product-price span, .shop_table td.product-stock-status span, .shop_table td.product-subtotal span, .shop_table tr.order td a { display:inline-block; margin-top:18px; }
		.shop_table .product-add-to-cart a, .woocommerce .wishlist_table .add_to_cart.button { margin-top:15px; display:inline-block; }
		
		.shop_table tr.order .order-total { font-size:11px; }
		.shop_table tr.order td time, .shop_table tr.order td span { font-size:11px; display:inline-block; margin-top:18px; }
		.shop_table tr.order td.order-status { padding-top:17px; height:33px; text-align:center !important; }
		.woocommerce table.my_account_orders .order-actions, .woocommerce-page table.my_account_orders .order-actions { text-align:center; }
		.woocommerce table.my_account_orders .order-actions .button, .woocommerce-page table.my_account_orders .order-actions .button { margin-top:7px; }
		.shop_table td.product-price span, .shop_table td.product-stock-status span, .shop_table td.product-subtotal span, .shop_table tr.order td { font-size:14px; }
		.shop_table td.product-quantity .quantity { padding:10px 0px 0px; }
		
		.cart-subtotal span, .total span, .checkout_table_item .product-total span { font-size:14px; }
		.shipping td { font-size:10px; }
		
		.woocommerce table.shop_table, .woocommerce-page table.shop_table { border:none; }
		
		.woocommerce form .form-row-first, .woocommerce-page form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-last { width:100%; }
		
	}
	
	/*----*****---- << Mobile >> ----*****----*/	

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (min-width: 320px) and (max-width: 479px) {
		
		.container { width:95% }
		.boxed .wrapper, .boxed .is-sticky #main-menu { width:100%; }
                .content-full-width .fullwidth-section {
                    padding-left: 5%;
                    padding-right: 5%;
                    padding-bottom: 0;
                }

		/*----*****---- << Shortcodes >> ----*****----*/
		ul.dt-sc-tabs-frame > li { margin-bottom:20px; }
		ul.dt-sc-tabs-frame { margin-bottom:0px; }
		.dt-sc-tabs-frame-content { padding-top:0px; }
		ul.dt-sc-tabs-frame > li > a { border-bottom-width:3px; padding-bottom:5px; }
		
		/*----*****---- << Reservation >> ----*****----*/
		ul.time-table > li, .page-with-sidebar ul.time-table > li { width:35.2%; }
		
		.page-with-sidebar ul.time-table > li:nth-child(2n), ul.time-table > li:nth-child(2n) { margin-right:0px; }
		.page-with-sidebar ul.time-table > li:nth-child(3n) { margin-right:2%; }		
		ul.time-table > li:nth-child(3n) { margin-right:2%; }
		ul.time-table > li:nth-child(5n) { margin-right:2%; }
		
		ul.time-table > li:nth-child(5n+1), .page-with-sidebar ul.time-table > li:nth-child(4n+1) { clear:none; }
		ul.time-table > li:nth-child(2n+1), .page-with-sidebar ul.time-table > li:nth-child(2n+1) { clear:both; }
		
		ul.time-table > li > span { font-size:12px; line-height:18px; }
		ul.time-table > li ul.time-slots > li a { font-size:13px; }
	}
	
	/*----*****---- << Mobile >> ----*****----*/	

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {
		
		.container { width:95% }
		.boxed .wrapper, .boxed .is-sticky #main-menu { width:100%; }
		
		/*----*****---- << Headings >> ----*****----*/
		h1{ font-size:20px; }
		h2{ font-size:18px; }
		h3{ font-size:16px; }
		h4{ font-size:15px; }
		h5{ font-size:14px; }
		h6{ font-size:13px; }
		
		.widget h3.widgettitle { font-size:18px; }
		
		/*----*****---- << Headers >> ----*****----*/
		#header #searchform input[type="text"] { width:140px; }
		
		/*----*****---- << Shortcodes >> ----*****----*/		
		.border-title h2, .border-title h1 { font-size:20px; padding:0px 0px 20px; }
		
		th, td { font-size:9px; padding:8px 2px; }
		
		.dt-sc-button.small { font-size:12px; padding:11px 20px; }
		.dt-sc-button.medium { font-size:14px; padding:14px 25px; }
		.dt-sc-button.large { font-size:16px; padding:18px 32px; border-radius:40px; }
		.dt-sc-button.xlarge { font-size:18px; padding:25px 45px; border-radius:50px; }
		
		
		.dt-sc-button.small.with-icon { padding:0px 0px 0px 15px; }
		.dt-sc-button.small.with-icon i { padding:10px 15px; font-size:14px; }
		.dt-sc-button.small.with-icon span { padding:8px 0px; } 		
		.dt-sc-button.medium.with-icon { padding:0px 0px 0px 20px; }
		.dt-sc-button.medium.with-icon i { padding:15px 20px; font-size:16px; }		
		.dt-sc-button.medium.with-icon span { padding:12px 0px; } 
		.dt-sc-button.large.with-icon { padding:0px 0px 0px 25px; }
		.dt-sc-button.large.with-icon i { padding:18px 22px; margin-left:15px; font-size:18px; }		
		.dt-sc-button.large.with-icon span { font-size:16px; padding:16px 0px; }
		.dt-sc-button.xlarge.with-icon { padding:0px 0px 0px 25px; }
		.dt-sc-button.xlarge.with-icon i { padding:20px 25px; margin-left:12px; font-size:18px; }
		.dt-sc-button.xlarge.with-icon span { font-size:17px; padding:17px 0px; }
		
		.dt-sc-ico-content.type2 { padding-left:0px; text-align:center; }
		.dt-sc-ico-content.type2 .icon { position:inherit; margin:0px 0px 20px; display:inline-block; }
		
		
		ul.dt-sc-tabs-frame > li, .woocommerce-tabs ul.tabs > li { width:100%; margin:0px 0px 10px; }
		ul.dt-sc-tabs-frame > li > a, .woocommerce-tabs ul.tabs > li.active > a { border-bottom-width:3px; padding-bottom:5px; }
		.dt-sc-tabs-frame-content, .woocommerce-tabs .panel { padding-top:0px; }
		
		.dt-sc-tb-header .dt-sc-price { font-size:30px; }
		.dt-sc-tb-header .dt-sc-price span { font-size:40px; }
		.dt-sc-tb-content li { font-size:12px; }
		
		.dt-sc-popular-procedures .image { margin-top:-140px; }
		.dt-sc-popular-procedures.with-image { margin-top:90px; }
		.dt-sc-popular-procedures .image img { max-width:150px; }
		.dt-sc-popular-procedures .image:before { width:140px; height:140px; background-size:140px 140px; top:5px; }
		.dt-sc-popular-procedures h2 { font-size:20px; }
		
		
		.fullwidth-testimonial { height:512px !important; }
		.type2 .dt-sc-testimonial .author span { margin-top:20px; }
		.dt-sc-testimonial-carousel-wrapper.type2 .carousel-arrows { width:200px; }
		
		.dt-sc-ico-content.type1 .image { min-height:50px; }
		
		.secondary-sidebar .dt-sc-popular-procedures .image:before { width:130px; height:130px; background-size:130px 130px; top:6px; }
		.secondary-sidebar .dt-sc-popular-procedures .image img { max-width:140px; }
		
		/*----*****---- << Blog >> ----*****----*/
		.entry-meta { width:100%; position:inherit; text-align:center; margin-bottom:10px; float:left; }
		.entry-meta .date { display:inline-block; }
		.entry-meta .comments { margin-top:0px; }
		.blog-entry-inner { padding-left:0px; }
		.entry-thumb { float:left; max-width:100%; margin-bottom:10px; }
		
		/*----*****---- << Blog >> ----*****----*/
		.dt-gallery.with-space .dt-gallery-details h5 { font-size:20px; }
		.dt-sc-sorting-container a { font-size:13px; }
		
		/*----*****---- << Woocomeerce >> ----*****----*/
		ul.products li .product-title h3 { font-size:18px; }
		ul.products li .product-title { padding:10px 20px; }
		ul.products li .product-details .price, ul.products li .product-details .price ins, ul.products li .product-details .price .amount { font-size:18px; }
		ul.products li .product-details .price del .amount, ul.products li .product-details .price del { font-size:12px; }
		ul.products li .product-details .price { width:35px; }
		
		.dt-gallery-single-slider-wrapper #bx-pager a img { max-width:40px; }
		
		.woocommerce div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce #content div.product form.cart .button, .woocommerce-page #content div.product form.cart .button { margin-left:0px; margin-top:20px; }
		
		.woocommerce table.shop_table th, .woocommerce-page table.shop_table th { font-size:10px; }
		
		/*----*****---- << Reservation >> ----*****----*/
		ul.time-table > li, .page-with-sidebar ul.time-table > li { width:80%; }
		
		.page-with-sidebar ul.time-table > li:nth-child(2n), ul.time-table > li:nth-child(2n) { margin-right:0px; }
		.page-with-sidebar ul.time-table > li:nth-child(3n) { margin-right:0px; }		
		ul.time-table > li:nth-child(3n) { margin-right:0px; }
		ul.time-table > li:nth-child(5n) { margin-right:0px; }
		
		ul.time-table > li:nth-child(2n+1), .page-with-sidebar ul.time-table > li:nth-child(2n+1), ul.time-table > li:nth-child(5n+1), .page-with-sidebar ul.time-table > li:nth-child(4n+1) { clear:none; }
		
		ul.time-table > li > span { font-size:12px; line-height:18px; }
		ul.time-table > li ul.time-slots > li a { font-size:13px; }
	}
	
	
